.searchBarInput {
    width: 65%;
}

.searchBarType {
    width: 35%;
    color: white;
}

@media screen and (min-width: 430px) {
    .searchBarInput {
        width: 70%;
    }
    
    .searchBarType {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .searchBarInput {
        width: 80%;
    }
    
    .searchBarType {
        width: 20%;
    }
}